@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--color-primary: #171717;
		--color-secondary: #525252;
		--color-text-primary: #ffffff;
		--color-bg-primary: #ffffff;
	}
}

.theme-dark {
	--color-primary: #525252;
	--color-secondary: #b84f26;
	--color-text-primary: #ffffff;
	--color-text-secondary: #ffffff;
	--color-bg-primary: #111111;
}

.theme-light {
	--color-primary: #d4d4d4;
	--color-secondary: #3160c5;
	--color-text-primary: #171717;
	--color-text-secondary: #f4f4f4;
	--color-bg-primary: #f4f4f4;
}
.theme-amethyst {
	--color-primary: #6c40b3;
	--color-secondary: #aa2f62;
	--color-text-primary: #ddd6fe;
	--color-text-primary: #ddd6fe;
	--color-bg-primary: #1a1830;
}

.theme-ruby {
	--color-primary: #6e3131;
	--color-secondary: #ecc7c7;
	--color-text-primary: #ecc7c7;
	--color-text-secondary: #271212;
	--color-bg-primary: #271212;
}
.theme-janvier {
	--color-primary: #c2cfe0;
	--color-secondary: #020617;
	--color-text-primary: #020617;
	--color-text-secondary: #dbeafe;
	--color-bg-primary: #7fa5d1;
}
.theme-zen {
	--color-primary: #ddf8ea;
	--color-secondary: #15803d;
	--color-text-primary: #171717;
	--color-text-secondary: #f4f4f4;
	--color-bg-primary: #95cfa8;
}
.theme-gamma {
	--color-primary: #5b21b6;
	--color-secondary: #ddd6fe;
	--color-text-primary: #aad16c;
	--color-text-secondary: #171717;
	--color-bg-primary: #1f172e;
}
.theme-eva {
	--color-primary: #064e3b;
	--color-secondary: #111111;
	--color-text-primary: #ffffff;
	--color-text-secondary: #ffffff;
	--color-bg-primary: #022c22;
}
.theme-sudo {
	--color-primary: #222222;
	--color-secondary: #ffffff;
	--color-text-primary: #4af626;
	--color-text-secondary: #111111;
	--color-bg-primary: #111111;
}
