@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--color-primary: #171717;
		--color-secondary: #525252;
		--color-text-primary: #ffffff;
		--color-bg-primary: #ffffff;
	}
}

.theme-dark {
	--color-primary: #525252;
	--color-secondary: #c2410c;
	--color-text-primary: #ffffff;
	--color-text-secondary: #ffffff;
	--color-bg-primary: #171717;
}

.theme-light {
	--color-primary: #d4d4d4;
	--color-secondary: #2563eb;
	--color-text-primary: #171717;
	--color-text-secondary: #ffffff;
	--color-bg-primary: #ffffff;
}
.theme-amethyst {
	--color-primary: #5b21b6;
	--color-secondary: #be185d;
	--color-text-primary: #ddd6fe;
	--color-text-primary: #ddd6fe;
	--color-bg-primary: #1e1b4b;
}

.theme-ruby {
	--color-primary: #dc2626;
	--color-secondary: #fecaca;
	--color-text-primary: #fecaca;
	--color-text-secondary: #450a0a;
	--color-bg-primary: #450a0a;
}
.theme-janvier {
	--color-primary: #dbeafe;
	--color-secondary: #020617;
	--color-text-primary: #020617;
	--color-text-secondary: #dbeafe;
	--color-bg-primary: #93c5fd;
}
.theme-voltage {
	--color-primary: #facc15;
	--color-secondary: #171717;
	--color-text-primary: #171717;
	--color-text-secondary: #ffffff;
	--color-bg-primary: #22d3ee;
}
.theme-zen {
	--color-primary: #ecfdf5;
	--color-secondary: #15803d;
	--color-text-primary: #171717;
	--color-text-secondary: #ffffff;
	--color-bg-primary: #bbf7d0;
}
.theme-gamma {
	--color-primary: #5b21b6;
	--color-secondary: #ddd6fe;
	--color-text-primary: #a3e635;
	--color-text-secondary: #171717;
	--color-bg-primary: #2e1065;
}
.theme-eva {
	--color-primary: #064e3b;
	--color-secondary: #0a0a0a;
	--color-text-primary: #ffffff;
	--color-text-secondary: #ffffff;
	--color-bg-primary: #022c22;
}
.theme-sudo {
	--color-primary: #222222;
	--color-secondary: #ffffff;
	--color-text-primary: #4af626;
	--color-text-secondary: #111111;
	--color-bg-primary: #111111;
}
