@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
    :root {
        --color-primary: #171717;
        --color-secondary: #525252;
        --color-text-primary: #FFFFFF;
        --color-bg-primary: #FFFFFF;
    }
}

.theme-dark {
    --color-primary: #525252;
    --color-secondary: #C2410C;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #FFFFFF;
    --color-bg-primary: #171717;
}

.theme-light {
    --color-primary: #D4D4D4;
    --color-secondary: #2563EB;
    --color-text-primary: #171717;
    --color-text-secondary: #FFFFFF;
    --color-bg-primary: #FFFFFF;
}
.theme-amethyst {
    --color-primary: #5B21B6;
    --color-secondary: #BE185D;
    --color-text-primary: #DDD6FE;
    --color-text-primary: #DDD6FE;
    --color-bg-primary: #1E1B4B;
}

.theme-ruby {
    --color-primary: #DC2626;
    --color-secondary: #FECACA;
    --color-text-primary: #FECACA;
    --color-text-secondary: #450A0A;
    --color-bg-primary: #450A0A;
}
.theme-janvier {
    --color-primary: #DBEAFE;
    --color-secondary: #020617;
    --color-text-primary: #020617;
    --color-text-secondary: #DBEAFE;
    --color-bg-primary: #93C5FD;
}
.theme-voltage {
    --color-primary: #FACC15;
    --color-secondary: #171717;
    --color-text-primary: #171717;
    --color-text-secondary: #FFFFFF;
    --color-bg-primary: #22D3EE;
}
.theme-zen {
    --color-primary: #ECFDF5;
    --color-secondary: #15803D;
    --color-text-primary: #171717;
    --color-text-secondary: #FFFFFF;
    --color-bg-primary: #BBF7D0;
}
.theme-gamma {
    --color-primary: #5B21B6;
    --color-secondary: #DDD6FE;
    --color-text-primary: #A3E635;
    --color-text-secondary: #171717;
    --color-bg-primary: #2E1065;
}
.theme-eva {
    --color-primary: #064E3B;
    --color-secondary: #0A0A0A;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #FFFFFF;
    --color-bg-primary: #022C22;
}